*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    
}

/* Start Screen */
#start-screen{
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(../img/startScreen.jpg);
    text-align: center;
    justify-content: center;
}

.start-screen-title {
    font-size: 40px;
    color: #FFF;
}

.start-screen-p-1 {
    margin-top: 20px;
    font-size: 20px;
    color: rgba(255, 97, 97, 0.699);
}

.start-screen-p-2 {
    font-size: 20px;
    color: rgb(255, 97, 97);
}

.start-screen-button {
    margin-bottom: 20px;
    font-family: fantasy;
    background-color: teal;
    border: 0;
    color: #FFF;
    width: 120px;
    height: 40px;
    text-transform: uppercase;
    transition: .2s;
}
.start-screen-button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: .2s;
}
.hide{
    display: none;
}
#hide{
    display: none;
}
.stars{
    display: inline-block;
    width: 100%;
    height: 50px;
}
.close{
    opacity: 0;
}
#statistic{
    text-align: left;
    display: grid;
    grid-template-columns: 100%;
}
.statistic-card{
    cursor: pointer;
    font-size: 16px;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    border-radius: 10px;
    text-align: right;
    width: 90%;
    height: 40px;
    border: 3px solid rgb(255, 255, 255);
    border-bottom: 1px solid black;
    border-radius: 0;
}
.stat-word{
    top: 0;
    left: 0;
    position: absolute;
    text-align: left;
    
}
